.cm-editor {
  height: 100%;
  border-right: 1px solid #ddd;
}

.cm-scroller {
  overflow: auto;
}

.ͼ1.cm-editor.cm-focused,
.cm-gutters:focus-visible,
.cm-scroller:focus-visible {
  outline: none;
}

.ͼ2 .cm-gutters {
  border-left: 1px solid #ddd;
  background-color: #e7ebf1;
  color: #999;
}